.Donationform{
    background-color:#2D3134;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    padding-top:4%;
    padding-bottom:4%;
}
.select{
    border-radius:5px;
    outline:none;
    border:none;
    background-color:#424649;
    border-color:#424649;
    padding:15px 30px 15px 10px;
    width:300px;
    font-size:18px;
    font-weight:bold;
    color:grey;
    margin-right:30px;
}
.select:focus{
    background-color:#FEBF1C;
}
.name{
    border-radius:5px;
    outline:none;
    border:none;
    background-color:#424649;
    border-color:#424649;
    padding:15px 20px 15px 20px;
    font-size:18px;
    width:300px;
    font-weight:bold;
    color:#FFFFFF;
    margin-right:30px;
}
.button{
    background-color:#FEBF1C;
    border-color:#FEBF1C;
    padding:15px 20px 15px 20px;
    font-size:18px;
    width:200px;
    font-weight:bold;
    color:#FFFFFF;
}
.button:hover{
    background-color:#FFFFFF;
    border-color:#FFFFFF;
    color:#FEBF1C;
}
@media screen and (max-width: 1024px) {
    .select{
        width:200px;
    }
    .name{
        width:200px;
    }
}
@media screen and (max-width: 768px) {
	.select{
        width:150px;
    }
    .name{
        width:150px;
    }
    .button{
        width:120px;
    }
}
@media screen and (max-width: 540px) {
	.select{
        width:450px;
        margin-right:0px;
        margin-top:40px;
    }
    .name{
        width:450px;
        margin-top:20px;
        margin-right:0px;
    }
    .button{
        width:450px;
        margin-top:20px;
        margin-bottom:40px;
    }
    .Donationform{
        display:flex;
        flex-direction:column;
    }
}
@media screen and (max-width: 414px) {
	.select{
        width:350px;
    }
    .name{
        width:350px;
    }
    .button{
        width:350px;
    }
}
@media screen and (max-width: 375px) {
	.select{
        width:330px;
    }
    .name{
        width:330px;
    }
    .button{
        width:330px;
    }
}
@media screen and (max-width: 320px) {
	.select{
        width:260px;
    }
    .name{
        width:260px;
    }
    .button{
        width:260px;
    }
}