@import "./Style.scss";

.headerName{
    padding-right:3%;
    font-size:18px;
    cursor: pointer;
}
.menubar{
    opacity:0;
}
.image{
    width:200px;
    height:50px;
    margin-right:25%;
}
.icons{
    padding-right:2%;
    font-size:30px;
    color:#DCD4CC;
    cursor: pointer;
}
@media screen and (max-width: 1024px) {
    .headerName{
        padding-right:2%;
    }
    .image{
        width:150px;
    }
    .icons{
        padding-right:2%;
    }
}
@media screen and (max-width: 768px) {
	.headerName{
        display:none;
    }
    .menubar{
        opacity:1;
        font-size:30px;
    }
    .icons{
        display:none;
    }
}
@media screen and (max-width: 540px) {
    .header{
        display:flex;
        justify-content:space-around;
    }
}
@media screen and (max-width: 414px) {
	.image{
        width:100px;
        height:30px;
    }
}
@media screen and (max-width: 320px) {
	.image{
        height:20px;
    }
}