@import "./Style.scss";

@mixin text(){
    font-size: 80px;
    line-height: 1.55556em;
    color:$WhiteColor;
    font-weight:600;
}
.Scenery{
    height:450px;
    background-image: url("C:/Users/boss/wildlife/src/Assets/Elephant.jpg");
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    background-repeat: no-repeat;
    background-size:1700px 435px;
}
.Textdiv{
    @include flex();
    justify-content:center;
    width:800px;
}
.Boldtext{
    @include text();
}
.time{
    @include text();
    padding-left:2%;
    padding-right:2%;
    -webkit-text-stroke: 2px $WhiteColor;
    color: $TransparentColor;
}
.Read{
    background-color:$WhiteColor;
    border-color:$WhiteColor;
    color:$BlackColor;
    padding:15px 25px 15px 25px;
    font-weight:bold;
}
.Read:hover{
    background-color:$YellowColor;
    border-color:$YellowColor;
    color:$WhiteColor;
}
@media screen and (max-width: 768px) {
    .Boldtext{
        font-size:60px;
    }
    .time{
        font-size:60px;
    }    
}
@media screen and (max-width: 540px) {
    .Scenery{
        height:300px;
    }
    .Boldtext{
        font-size:50px;
    }
    .time{
        font-size:50px;
    }    
}
@media screen and (max-width: 414px) {
    .Boldtext{
        font-size:30px;
    }
    .time{
        font-size:30px;
    }    
}